<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
    <main>
    {% if not name_user  %}
        <a href="/auth/" class="button">Войти</a>

    {% else %}
        {{ name_user }}
        <a href="/logout/" class="button">Выйти</a>

    {% endif %}
    {% block content %}




    <h1>Поиск постов</h1>

    <form action="/search/" method="get">
        <p>По вхождению слова</p>
        <input type="text" name="s">
        <input type="submit" value="Найти" class="button">
    </form>
    <hr>
        {% if name_user  %}
    <a href="/post/" class="button">Добавить пост</a>
    {% else %}
        <p><a href="/auth/">Авторизуйтесь</a> для добавления поста</p>
    {% endif %}
    <hr>
    {% for post in posts %}
        <div class="post">
            <img src={{ post.pic }} width="100%" alt="">
            <p>{{ post.content }} </p>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
</main>
</body>
</html>
