{% extends 'index.html' %}

{% block content %}
    <main>

    <a href="/" class="link">Назад</a>
     <hr>
        {% if name_user  %}
    <a href="/post/" class="button">Добавить пост</a>
    {% else %}
        <p><a href="/auth/">Авторизуйтесь</a> для добавления поста</p>
    {% endif %}
    <hr>
    <h1>Посты по запросу {{ search_word }}</h1>
    {% for post in posts %}
        <div class="post">
            <img src={{ post.pic }} width="100%" alt="">
            <p>{{ post.content }} </p>
        </div>
        <hr>
    {% endfor %}

    </main>
{% endblock %}
